name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Delete latest tag
        if: ${{ github.ref == 'refs/heads/main' }}
        run: gh release delete latest --cleanup-tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run npm ci
        run: npm ci
      - name: Create package
        run: |
          npm install
          npm install -g @vscode/vsce
          vsce package
      - name: Release VSIX file
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          make_latest: true
          files: |
            *.vsix
            CHANGELOG.md
